[Unit]
Description=uConsole volume key daemon
After=default.target
After=systemd-modules-load.service

[Service]
ExecStart=/home/ntm/.local/bin/uconsole-volume
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
